*{
    font-family: Kanit;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}

h1{
    font-size: 32px;
}

.page{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img {
    border-radius: 50%;
    width: 20%;
    height: 20%;
}